<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="extensions" value=".png .jpg .jpeg .gif .json .js .css"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.5.1"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <httpRuntime enableVersionHeader="false"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="MissingFileModule" type="MissingFileModule"/>
    </modules>
  
    <urlCompression doDynamicCompression="false" doStaticCompression="true" dynamicCompressionBeforeCache="false"/>
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>