<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="extensions" value=".png .jpg .jpeg .gif .ico .svg .json .js .css .woff .eot .ttf .html .htm .json .yml"/>
    <add key="location" value="localhost" />

    <!-- A list of all the allowed sites that can use this proxy -->
    <add key="localhost" value="true" />
    <add key="madskristensen.net" value="true" />
    <add key="schemastore.org" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.5.1"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <httpRuntime enableVersionHeader="false"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="MissingFileModule" type="MissingFileModule"/>
    </modules>

    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false"/>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>

      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Arr-Disable-Session-Affinity" value="True" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="SubDomain" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^((?!www)(.+))\.m82\.be" />
            <add input="{HTTP_HOST}" pattern="^((?!www)(.+))\.cdn\.local" />
          </conditions>
          <action type="Rewrite" url="{C:1}/{R:1}" />
        </rule>
      </rules>

      <outboundRules rewriteBeforeCache="false">
        <rule name="Send correct Vary">
          <match serverVariable="RESPONSE_Vary" pattern=".+"/>
          <action type="Rewrite" value="Accept-Encoding, If-Modified-Since"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>